.page-header
  %h1 ヘルプ
.row
  .span12
    %h2 もくじ
    %ul
      %li
        %a.smooth{ href: '#sign_up'}
          ユーザ登録の手順
      %li
        %a.smooth{ href: '#sign_in'}
          ログインの手順
      %li
        %a.smooth{ href: '#join_event'}
          イベント参加登録の手順
      %li
        %a.smooth{ href: '#contact'} お問い合わせ
.row
  .span16
    %section#sign_up
      .page-header
        %h2
          ユーザ登録の手順
          %a.smooth{ href: '#'} ↑
      .row
        .span6
          %p
            = image_tag 'help/no_login_upper_right.png', width: 340
            -#図1：「ユーザ登録」、「ログイン」リンク
          -#%p
            = image_tag "help/new_user.png", width: 340
            図2：「新規ユーザ登録」画面
        .span7
          %p カンファインは「ユーザ登録」を必要とするサービスです。まだ、「ユーザ登録」をしていない場合は、この手順に従って登録をしましょう！
          %ol
            %li
              画面右上の「
              = link_to 'ユーザ登録', new_user_registration_path, target: '_blank'
              」をクリックします。
            %li 「新規ユーザ登録」画面が表示されたら、「※必須」の項目を入力します。
            %li 「登録する」ボタンをクリックします。
            %li 画面が遷移し「ユーザ登録が完了しました！」というメッセージが表示されたら、登録完了です。
      %section#sign_in
        .page-header
          %h2
            ログインの手順
            %a.smooth{ href: '#'} ↑
        .row
          .span6
            %p
              = image_tag "help/log_in.png", width: 340
          .span7
            %p 「ユーザ登録」が済んだら「ログイン」しましょう！
            %p 「ログイン」することで、イベントの参加登録ができたり、様々な機能を使ったりすることができます。
            %p 画面右上の部分に「ニックネーム」が表示されていれば、既にログインしています。（※ユーザ登録後は自動的にログインされます）
            %p まだ、ログインしていなければ次の手順でログインできます。
            %ol
              %li
                画面右上の「
                = link_to 'ログイン', new_user_session_path, target: '_blank'
                」をクリックします。
              %li 左図の様な画面が表示されたら、登録した「メールアドレス」と「パスワード」を入力します。
              %li 「ログイン」ボタンをクリックします。
              %li 「ログインしました。」というメッセージが表示されたらログイン完了です。
      %section#join_event
        .page-header
          %h2
            イベント参加登録の手順
            %a.smooth{ href: '#'} ↑
        .row
          .span6
            %p
              = image_tag "help/join_link.png", width: 340
            -#%p
              = image_tag "help/new_entry.png", width: 340
          .span7
            %p
              まず最初に，イベントに参加する前に
            %ol
              %li
                %a.smooth{ href: '#sign_up'} ユーザ登録
              %li
                %a.smooth{ href: '#sign_in'} ログイン
            %p
              の2つの手順が必要になります。
              これらの手順がまだ済んでいない場合は，上のリンク先にある手順に従ってログインしましょう．
            %p
              「ユーザ登録」と「ログイン」ができたら，いよいよ参加登録です．
              参加登録は次の手順で出来ます．
            %ol
              %li
                左図の様にイベントページには「このイベントに参加する」というボタンがあるので，
                このボタンをクリックします。
              %li
                参加登録画面が開いたら、必要な項目に入力して「次へ」をクリックします。
                （まだログインしていない場合はログインページが表示されます．）
              %li
                確認画面では、入力内容に間違いが無いことを確認して「登録」ボタンをクリックします。
              %li
                登録完了画面が表示されたら、参加登録完了です。
        %section#join_after
          %h2
            参加登録後はどうしたらいいの？
          .row
            .span6
              %p
                = image_tag "help/ipod_mail.png", width: 320
            .span7
              %p
                参加登録完了後には、ユーザ登録時に設定したメールアドレスに「QRコード」の添付されたメールが届きます。
                イベント当日はこの「QRコード」を携帯電話やスマートフォンの画面に表示する、もしくは紙に印刷して提示できる形でお持ちください。
      %section#create_event
        .page-header
          %h2
            イベントの作成方法
            %a.smooth{ href: '#'} ↑
        .row
          .span6
            %p 現在準備中です。
      %section#event_mailer
        .page-header
          %h2
            参加者に向けて連絡するには？
            %a.smooth{ href: '#'} ↑
        .row
          .span6
            %p 現在準備中です。
      %section#event_admin
        .page-header
          %h2
            イベント管理者ページについて
            %a.smooth{ href: '#'} ↑
        .row
          .span6
            %p 現在準備中です。
      %section#reception
        .page-header
          %h2
            当日の受付システムについて
            %a.smooth{ href: '#'} ↑
        .row
          .span6
            %p 現在準備中です。
    %section#contact
      .page-header
        %h2
          お問い合わせ
          %a.smooth{ href: '#'} ↑
      .row
        .span12
          %p
            お問い合わせは以下のフォームからどうぞ．
            または，開発者のTwitterアカウント（
            = link_to 'カンファインについて', about_path, target: '_new'
            ）までリプライをください．
          %iframe{:frameborder => "0", :height => "697", :marginheight => "0", :marginwidth => "0", :src => "https://docs.google.com/spreadsheet/embeddedform?formkey=dExtTzFlZGV0am5XZi1ENVpRZDdTdEE6MQ", :width => "760"} 読み込み中...
