.page-header
  %h1 ログイン
.row
  .span7
    =form_for resource, as: resource_name, url: session_path(resource_name) do |f|
      %p
        = f.label :email
        .input= f.email_field :email
      %p
        = f.label :password
        .input= f.password_field :password
      - if devise_mapping.rememberable?
        %p
          = f.label :remember_me
          .input= f.check_box :remember_me
          
      .actions
        = f.submit 'ログイン', class: 'btn primary'
        = link_to 'キャンセル', :back, class: :btn
    
    .well
      = render partial: 'user/shared/links'
