%table
  %tr
    %th 項目
    %th 料金
    %th 支払状況
    %th 領収
  
  - @entry.entry_fees.each_with_index do |fee, i|
    = hidden_field 'entry[entry_fees_attributes]', 'id', index: i, value: fee.id
    = hidden_field 'entry[entry_fees_attributes]', 'event_fee_id', index: i, value: fee.event_fee_id
    %tr
      %td= fee.event_fee.name
      %td= number_to_currency(fee.event_fee.sum, unit: "円", precision: 0, format: "%n %u")
      -# 徴収チェックボックス
      - if fee.paid
        %td#paid 領収済
      - else
        %td#not_paid 未領収
      %td
        = check_box 'entry[entry_fees_attributes]', 'paid', {index: i, checked: fee.paid}
  
  %tr
    %th{colspan: 2}
    %th 合計
    %td= "#{number_to_currency(@entry.fees_sum, unit: "円", precision: 0, format: "%n %u")}"
  -#
    %tr
      %th.indexTable{ colspan:2 } 未徴収金額
      %td.indexTable{ colspan:2 }= "#{number_to_currency(@entry.not_paid_sum, unit: "円", precision: 0, format: "%n %u")}"
