= f.error_messages
%h3 参加費用
= render 'fees_checkbox'
%p
  = f.label :comment
  (30文字以内でお願いします)
  %br
  = f.text_field :comment ,:size => 60
- @select_form.each do |i|
  - if i[:setting] >= 1 then
    - content = [''] + i[:content].split(',')
    %p
      = "Q: #{i[:question]}"
      %br
      = "A:"
      = f.select i[:answer], content
- @free_form.each do |i|
  - if i[:setting] >= 1 then
    %p
      = "Q:"
      = i[:question]
      %br
      = "A:"
      = f.text_area i[:answer]
%p
  = f.submit f.object.new_record? ? '次へ' : '変更', :disable_with => '処理中...'
