%h3 あなたの登録情報
%table
  %tr
    %th 参加費用
    %td
      %table
        - @entry.event_fees.each do |fee|
          %tr
            %th= fee.name
            %td= number_to_currency fee.sum, precision: 0
    %tr
      %th 合計参加費用
      %td= number_to_currency @entry.fees_sum, precision: 0
  %tr
    %th= I18n.t 'activerecord.attributes.user.qr_secret'
    %td
      %a{href: '#', data: {'controls-modal' => :'send_qr' }}
        = qrimg_tag current_user.qr_secret
