%h1 確認画面
= render :partial => 'record'
%br
料金
-# EventFee
      %table
        - @fees.each do |fee|
          %tr
            %th= fee.event_fee.name
            %td= number_to_currency(fee.event_fee.sum, unit: "円", precision: 0, format: "%n %u")

= render :partial => 'button_to_save'
= link_to 'イベントページに戻る', @event