%h1
  = "#{@event.name} 参加者一覧"
%hr
= link_to 'CSV形式で保存',
  event_entries_path(@event, admin_token: @event.admin_token, format: 'csv'),
  class: 'btn'
  
%table.zebra-striped#myTable
  %thead
    %tr
      %th 受付
      %th 登録名
      - @event.event_fees.each do |fee|
        %th= fee.name
      %th 合計費用
      -# 選択式アンケートの項目名
      - (1..5).each do |i|
        = raw que_survey(@event.send("select_setting#{i}"),
          @event.send("select#{i}"))
      -# フリー入力アンケートの項目名
      - (1..5).each do |i|
        = raw que_survey(@event.send("free_setting#{i}"),
          @event.send("free#{i}"))
  %tbody
    - @event.entries.each do |entry|
      %tr
        %td= link_to "受付",
          qr_receive_event_entries_path(@event, admin_token: @event.admin_token, qr_secret: entry.user.qr_secret),
          class: 'btn primary'
        %td= link_to entry.user.name, entry.user
        - @event.event_fees.each do |fee|
          %td
            = (entry_fee = entry.entry_fees.find_by_event_fee_id(fee.id)) ? '':'-'
            - if entry_fee
              - if entry_fee.paid
                %span#paid 済
              - else
                %span#not_paid 未
        %td= number_to_currency(entry.fees_sum, unit: "円", precision: 0, format: "%n %u")
        -# 選択式アンケート
        - (1..5).each do |i|
          = raw ans_survey(@event.send("select_setting#{i}"),
            entry.send("select#{i}"))
        -# フリー入力アンケート
        - (1..5).each do |i|
          = raw ans_survey(@event.send("free_setting#{i}"),
            entry.send("free#{i}"))
  %tr
    %th{colspan: 2} 集計
    - @event.event_fees.each do |fee|
      %th
        = "#{fee.entry_fees.count} 人"
        %br
        = number_to_currency(fee.entry_fees_sum, unit: "円", precision: 0, format: "%n %u")
    %th= number_to_currency(@event.all_entry_fees_sum, unit: "円", precision: 0, format: "%n %u")

%p= link_to 'イベント管理者ページへ',
  admin_event_path(@event, admin_token: @event.admin_token),
  class: :btn
