.page-header
  %h1
    = @event.name
    参加登録
.row
  .span12
    = form_for [ :confirm, @event, @entry ] do |f|
      = f.error_messages
      %p
        = f.label '参加費用'
        .input= render 'fees_checkbox'
      %p
        = f.label :comment
        .input
          = f.text_field :comment, class: 'span7'
          .help-inline 30文字以内
      - @select_form.each do |i|
        - if i[:setting] >= 1 then
          - content = [''] + i[:content].split(',')
          %p
            = "Q: #{i[:question]}"
            %br
            = "A:"
            = f.select i[:answer], content
      - @free_form.each do |i|
        - if i[:setting] >= 1 then
          %p
            = "Q:"
            = i[:question]
            %br
            = "A:"
            = f.text_area i[:answer]
      .actions
        = f.submit f.object.new_record? ? '次へ' : '変更',
          disable_with: '処理中...',
          class: 'btn primary'
        = link_to 'キャンセル', @event, class: 'btn'
