%h1
  = "#{@event.name} 受付"
%hr

%h1
  = twicon_tag @entry.user.tw_id, :bigger
  %i= "#{@entry.user.name} 様"
%hr
%h2 参加費用
= form_for [@event, @entry], url: { action: :update, id: @entry.id,
    admin_token: @event.admin_token, qr_secret: @entry.user.qr_secret }, remote: true do |f|
  #entry_fees_table
    = render partial: 'entry_fees_table'
  .actions
    = f.submit disable_with: '処理中...', class: 'btn primary'

%h2 アンケートの回答状況
%table.indexTable
  %tr
    %th.indexTable 質問
    %th.indexTable 回答
  %tr
    = raw que_survey(@event.select_setting1, @event.select1)
    = raw ans_survey(@event.select_setting1, @entry.select1)
  %tr
    = raw que_survey(@event.select_setting2, @event.select2)
    = raw ans_survey(@event.select_setting2, @entry.select2)
  %tr
    = raw que_survey(@event.select_setting3, @event.select3)
    = raw ans_survey(@event.select_setting3, @entry.select3)
  %tr
    = raw que_survey(@event.select_setting4, @event.select4)
    = raw ans_survey(@event.select_setting4, @entry.select4)
  %tr  
    = raw que_survey(@event.select_setting5, @event.select5)
    = raw ans_survey(@event.select_setting5, @entry.select5)
  %tr  
    = raw que_survey(@event.free_setting1, @event.free1)
    = raw ans_survey(@event.free_setting1, @entry.free1)
  %tr  
    = raw que_survey(@event.free_setting2, @event.free2)
    = raw ans_survey(@event.free_setting2, @entry.free2)
  %tr  
    = raw que_survey(@event.free_setting3, @event.free3)
    = raw ans_survey(@event.free_setting3, @entry.free3)
  %tr  
    = raw que_survey(@event.free_setting4, @event.free4)
    = raw ans_survey(@event.free_setting4, @entry.free4)
  %tr  
    = raw que_survey(@event.free_setting5, @event.free5)
    = raw ans_survey(@event.free_setting5, @entry.free5)

%p= link_to '参加者一覧', event_entries_path(@event, admin_token: @event.admin_token)
