.page-header
  %h1 プロフィール編集
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  .row
    .span8
      = devise_error_messages!
      %p
        = f.label :email
        .input= f.email_field :email
      %p
        = f.label :name
        .input= f.text_field :name
      %p
        = f.label :tw_id
        .input= f.text_field :tw_id
      %p
        = f.label :website
        .input= f.text_field :website
    .span8
      %p
        = f.label :job
        .input= f.text_field :job
      %p
        = f.label :office
        .input= f.text_field :office
      %p
        = f.label :domicile
        .input= f.text_field :domicile
  .row
    .span8
      %p
        = f.label :memo
        .input= f.text_area :memo, rows: 10
    .span8  

      %p
        %b パスワードを変更する場合は入力してください．
      %p （変更しない場合は空欄のままにしてください．）
      %p
        = f.label :password, '新しいパスワード'
        .input= f.password_field :password
      %p
        = f.label :password_confirmation
        .input= f.password_field :password_confirmation
      .well
        %p
          %b 変更を保存するには，現在のパスワードを入力してください
        %p
          = f.label :current_password
          .input= f.password_field :current_password
        %p{align: :right}
          = f.submit '変更を保存', class: 'btn primary'
.row
  .span8
    %h1 登録を解除する
    = link_to "登録解除", registration_path(resource_name), |
      class: 'btn danger large', method: :delete, |
      confirm: "ユーザ登録を解除します。\n本当によろしいですか？\n |
      ※「参加登録」，「主催イベント」，「主催イベントの参加者登録」など |
      ユーザに関連する情報すべてが抹消されます。" |
    -#= link_to "戻る", :back
