.page-header
  %h1= "確認 | #{@event.name} 参加者へのメール一斉送信"
.row
  .span10
    = form_for [ @event, @mail ],
      url: event_event_mails_path(@event, admin_token: @event.admin_token) do |f|
      = f.error_messages
      %p
        = f.label '送信先'
        %p.input 参加者全員
      
      %p
        = f.label :subject, '件名'
        %p.input= @mail.subject
  
      %p
        = f.label :text, '本文'
        .input
          %pre= hbr @mail.text

      .actions
        = f.submit '送信', disable_with: '処理中...', class: 'btn primary'
        = link_to_function '戻る', 'history.back()', class: :btn
