.page-header
  %h1= "#{@event.name} 参加者へのメール一斉送信"
.row
  .span10
    = form_for [ :confirm, @event, @mail ],
      url: confirm_event_event_mails_path(@event, admin_token: @event.admin_token) do |f|
      = f.error_messages
      %p
        = f.label '送信先'
        %p.input
          参加者全員
      %p
        = f.label :subject, '件名'
        .input= f.text_field :subject, class: :span7
      %p
        = f.label :text, '本文'
        .input= f.text_area :text, class: :span7

      .actions
        = f.submit '確認', disable_with: '処理中...', class: 'btn primary'
        = link_to 'キャンセル', :back, class: :btn
