.modal-header
  %a.close{href: '#'} &times;
  %h3 受付用QRコード

= form_tag controller: :'/users', action: :send_qr, method: :post do
  .modal-body
    %p イベント当日の受付用QRコードです。
    %center= qrimg_tag current_user.qr_secret, class: :thumbnail, width: 300
    %p 指定したメールアドレスに送信することもできます。
    = label_tag :email, 'メールアドレス'
    .input
      = text_field_tag :email
      = submit_tag '送信', class: :'btn primary'
  
