- if user_signed_in?
  #user-bar-greeting
    Logged in as
    - unless current_user.tw_name.blank?
      = image_tag("http://api.dan.co.jp/twicon/#{current_user.tw_name}/mini", :align => 'bottom')
    - else
      = image_tag ("24.png")
    = link_to current_user.name, user_path(current_user.id), :content_method => :login
  #user-bar-action
    = link_to 'ユーザ設定', profile_users_path
    |
    \#{link_to "ログアウト", {controller: 'devise/sessions', action: :destroy}, { title: "ログアウト", method: :delete}}
- else
  #user-bar-action
    = link_to "新規ユーザ作成", {controller: 'user/registrations', action: :new}, { title: "新規ユーザ作成" }
    |
    \#{link_to "ログイン",  new_user_session_path,  { title: "ログイン" }}