.page-header
  %h1
    = twicon_tag @user, :bigger
    = @user.name

.row
  .span9
    %table
      %tr
        %th 自己紹介
        %td= hbr @user.memo
      %tr
        %th Twitter
        %td= link_to "@"+@user.tw_id,"http://twitter.com/#{@user.tw_id}",
          target: '_blank' unless @user.tw_id.blank?
      %tr
        %th Webサイト
        %td= link_to h(@user.website), @user.website, target: '_blank'
      %tr
        %th 職業
        %td= @user.job
      %tr
        %th 勤務先・学校
        %td= @user.office
    %h2 旅のあしあと
    %div{align: :center}
      = render partial: 'map'
      %div{id: "map_canvas", style: "width: 500px; height: 600px;"}
      %div{id: "map", style: "display:none;"}
        %p 住所より地図の特定が出来ませんでした
  .span5
    %h3= "#{@user.name}が参加したイベント"
    %ul
      - unless @user.entries.blank?
        - @user.entries.each do |entry|
          %li= link_to entry.event.name, entry.event
    %h3= "#{@user.name}が主催したイベント"
    %ul
      - unless @user.hosted_events.blank?
        - @user.hosted_events.each do |hosted_event|
          %li= link_to hosted_event.name, hosted_event
