<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Memo:</b>
  <%= @user.memo %>
</p>

<p>
  <b>Website:</b>
  <%= @user.website %>
</p>

<p>
  <b>Qr secret:</b>
  <%= @user.qr_secret %>
</p>

<p>
  <b>Job:</b>
  <%= @user.job %>
</p>

<p>
  <b>Office:</b>
  <%= @user.office %>
</p>

<p>
  <b>Domicile:</b>
  <%= @user.domicile %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
