%h2 イベント詳細
%hr
%table{ align: "center", cellpadding: "5" }
  %tr  
    %th{ scope: "row", align: "right" } 日時
    %td= I18n.l @event.date, format: :long
  %tr  
    %th{ scope: "row", align: "right" } 場所
    %td  
      = @event.place_name
      = @event.place_room
      %br
      住所：
      = @event.place_address
      %br
      Web：
      = link_to @event.place_website, @event.place_website
      %br
      <iframe src="/events/#{@event.id}/map" height=400 width=400 frameborder=0></iframe>
  %tr  
    %th{ scope: "row", align: "right" } 参加費
    %td= %table{ border: "2", align: "center", cellpadding: "3" }
            %tr
              %td 内容
              %td 参加費
              %td 説明

           - @event_fees.each do

            %tr
              %td = @event_fee.name
              %td = @event_fee.sum
              %td = @event_fee.sammary

            end

  %tr  
    %th{ scope: "row", align: "right" } 定員
    %td
      = @event.capacity
      = ' 人'
  %tr  
    %th{ scope: "row", align: "right" } 申し込み期間
    %td
      = I18n.l @event.joinable_period_begin, format: :long
      〜
      = I18n.l @event.joinable_period_end, format: :long
  %tr  
    %th{ scope: "row", align: "right" } website
    %td= link_to @event.website, @event.website
  %tr  
    %th{ align: "right" } 主催者
    %td= link_to @owner_user.name, @owner_user
  %tr  
    %th{ scope: "row", align: "right" } 連絡先
    %td= mail_to(@event.hosting_email, @event.hosting_group,
      subject: "[#{@event.name}]お問い合わせ", encode: "javascript")
