%table
  -# 日時
  %tr  
    %th 日時
    %td= I18n.l @event.date, format: :long

  -# 場所
  %tr  
    %th 場所
    %td
      %h4= @event.place_name
      %br
      住所：
      = @event.place_address
      %br
      Web：
      = link_to @event.place_website, @event.place_website
  %tr
    %td{colspan: 2}
      %div{align: :center}
        = render partial: 'map'
        %div{id: "map_canvas", style: "width: 520px; height: 500px;"}
        %div{id: "map", style: "display:none;"}
          %p 住所より地図の特定が出来ませんでした

  -# 参加費
  %tr  
    %th 参加費
    %td
      -# EventFee
      %table
        %tr
          %th 参加費
          %th 金額
          %th 未受付
          %th 受付済
        - @event_fees.each do |fee|
          %tr
            %th= fee.name
            %td= number_to_currency(fee.sum, unit: "円", precision: 0, format: "%n %u")
            %td= "#{fee.entry_fees.count(:all, conditions: ['entry_fees.paid = ?', false])} 人"
            %td= "#{fee.entry_fees.count(:all, conditions: ['entry_fees.paid = ?', true])} 人"

  -# 定員
  %tr  
    %th 定員
    %td
      = @event.capacity
      = ' 人'

  -# 申込期間
  %tr
    %th 参加受付開始
    %td
      = I18n.l @event.joinable_period_begin, format: :long
  %tr
    %th 参加受付終了
    %td
      = I18n.l @event.joinable_period_end, format: :long

  -# WebSite
  %tr  
    %th WebSite
    %td= link_to @event.website, @event.website

  -# 主催者
  %tr  
    %th 主催者
    %td
      = twicon_tag @owner_user, :mini
      = link_to @owner_user.name, @owner_user

  -# 連絡先
  %tr  
    %th 連絡先
    %td= mail_to(@event.hosting_email, @event.hosting_group,
      subject: "[#{@event.name}]お問い合わせ", encode: "javascript")
