%table.indexTable
  -# 日時
  %tr  
    %th.indexTable 日時
    %td.indexTable= I18n.l @event.date, format: :long

  -# 場所
  %tr  
    %th.indexTable 場所
    %td.indexTable
      = @event.place_name
      = @event.place_room
      %br
      住所：
      = @event.place_address
      %br
      Web：
      = link_to @event.place_website, @event.place_website
      %br
      <iframe src="/events/#{@event.id}/map" height=400 width=400 frameborder=0></iframe>

  -# 参加費
  %tr  
    %th.indexTable 参加費
    %td.indexTable
      -# EventFee
      %table
        - @fees.each do |fee|
          %tr
            %th= fee.name
            %td= number_to_currency(fee.sum, unit: "円", precision: 0, format: "%n %u")

  -# 定員
  %tr  
    %th.indexTable 定員
    %td.indexTable
      = @event.capacity
      = ' 人'

  -# 申込期間
  %tr  
    %th.indexTable 申し込み期間
    %td.indexTable
      = I18n.l @event.joinable_period_begin, format: :long
      〜
      = I18n.l @event.joinable_period_end, format: :long

  -# WebSite
  %tr  
    %th.indexTable WebSite
    %td.indexTable= link_to @event.website, @event.website

  -# 主催者
  %tr  
    %th.indexTable 主催ユーザー
    %td.indexTable= link_to @owner_user.name, @owner_user

  -# 連絡先
  %tr  
    %th.indexTable 連絡先
    %td.indexTable= mail_to(@event.hosting_email, @event.hosting_group,
      subject: "[#{@event.name}]お問い合わせ", encode: "javascript")
