%table
  -# 日時
  %tr  
    %th 日時
    %td= I18n.l @event.date, format: :long

  -# 場所
  %tr  
    %th 場所
    %td
      %h4= @event.place_name
      = @event.place_room
      %br
      住所：
      = @event.place_address
      %br
      Web：
      = link_to @event.place_website, @event.place_website
      %br
      <iframe src="/events/#{@event.id}/map" height=400 width=400 frameborder=0></iframe>

  -# 参加費
  %tr  
    %th 参加費
    %td
      -# EventFee
      %table
        - @event_fees.each do |fee|
          %tr
            %th= fee.name
            %td= number_to_currency(fee.sum, unit: "円", precision: 0, format: "%n %u")

  -# 定員
  %tr  
    %th 定員
    %td
      = @event.capacity
      = ' 人'

  -# 申込期間
  %tr
    %th 参加受付開始
    %td
      = I18n.l @event.joinable_period_begin, format: :long
  %tr
    %th 参加受付終了
    %td
      = I18n.l @event.joinable_period_end, format: :long

  -# WebSite
  %tr  
    %th WebSite
    %td= link_to @event.website, @event.website

  -# 主催者
  %tr  
    %th 主催者
    %td
      = twicon_tag @owner_user.tw_id, :mini
      = link_to @owner_user.name, @owner_user

  -# 連絡先
  %tr  
    %th 連絡先
    %td= mail_to(@event.hosting_email, @event.hosting_group,
      subject: "[#{@event.name}]お問い合わせ", encode: "javascript")
