%h3 イベント参加者
%table.entryTable
  - @entries.each do |entry|
    %tr
      %td
        = twicon_tag entry.user.tw_id, :mini
      %td
        %b= link_to entry.user.name, entry.user
        %br
        = entry.comment
        - unless entry.user.tw_id.blank?
          = render partial: 'tw_forrow_btn', locals: {user: entry.user}
          = render partial: 'tw_forrow_script'
