= form_for @event, url: form_url do |f|
  = f.error_messages
  %h2 基本情報
  %p
    = f.label :name
    .input
      = f.text_field :name
      %span.require ※必須
  %p
    = f.label :date
    .input
      = f.datetime_select :date, {}, class: :mini
      %span.require ※必須
  %p
    = f.label :summary
    %br
    (htmlタグを使えます。改行もhtmlタグを使用してください。)
    %p.input
      使えるタグ：
      - ActionView::Base.sanitized_allowed_tags.each do |i|
        = "#{i} "
    %p.input
      使える属性：
      - ActionView::Base.sanitized_allowed_attributes.each do |i|
        = "#{i} "

    .input= f.text_area :summary, class: 'span10'
  %p
    = f.label :website
    .input= f.url_field :website
  %h2 イベント開催場所
  %p
    = f.label :place_name
    .input
      = f.text_field :place_name
      %span.require ※必須
  %p
    = f.label :place_address
    .input
      = f.text_field :place_address
      %span.require ※必須
  %p
    = f.label :place_website
    .input= f.url_field :place_website
  %h2 参加に関して
  %p
    = f.label :capacity
    （半角数字）
    .input
      = f.number_field :capacity
      %span.require ※必須
  %p
    = f.label :event_fees, '参加費用'
    = f.fields_for :event_fees do |b|
      = render 'event_fee_fields', :f => b
    .input= link_to_add_fields "参加費用を追加", f, :event_fees, class: 'btn primary'
  %p
    = f.label :joinable_period_begin, '参加受付期間'
    %span.require ※必須
    %br
    %p
      = f.label '開始'
      .input= f.datetime_select :joinable_period_begin, {}, class: :mini
    %p
      = f.label '終了'
      .input= f.datetime_select :joinable_period_end, {}, class: :mini
  %h2 主催者情報
  %p
    = f.label :hosting_group
    .input
      = f.text_field :hosting_group
      %span.require ※必須
  %p
    = f.label :hosting_email, '窓口メールアドレス'
    .input
      = f.email_field :hosting_email
      %span.require ※必須
  -#
    %h2 関連イベント
    %p
      = f.label :main_event_id
      .input= f.text_field :main_event_id
  = render partial: 'select_question', locals: { f: f }
  = render partial: 'free_question', locals: { f: f }

  %h2 QRコードを用いた受付
  %p
    = f.label :qr_use, 'QRコードを使う'
    .input
      = f.check_box :qr_use
      %span （参加者に受付に関する案内が表示されるようになります。）
  

  .actions
    = f.submit f.object.new_record? ? '作成':'変更を保存',
      disable_with: '処理中...',
      class: 'btn primary'
    = link_to 'キャンセル', :back, class: :btn

= link_to 'イベント一覧', events_path
