%h1= "#{@event.name} 管理者ページ"
%hr
%ui
  %li= link_to '参加者一覧', event_entries_url(@event.admin_token)
  %li= link_to 'イベントを編集する', edit_event_url(@event.admin_token)
  %li= link_to_if @event.owner_user_id == current_user.id, |
    'イベントを削除する', event_url(@event.admin_token), method: :delete, |
    confirm: "本当に削除しますか？\n※ユーザからの参加登録も同時に削除されます" |
