%h1= "#{@event.name} 管理者ページ"
このページのURLからは，イベント作成者以外もアクセスすることができます．
%hr
%h2 機能
%ui
  %li= link_to '参加者一覧', event_entries_path(@event, admin_token: @event.admin_token)
  %li= link_to 'メール一斉送信機能', event_event_mails_path(@event, admin_token: @event.admin_token)
  %li= link_to_edit_event 'このイベントを編集する'
  %li= link_to_destroy_event 'このイベントを削除する'

%h2 受付システム用API URL
= text_field_tag '', qr_receive_event_entries_url(@event, admin_token: @event.admin_token), {size: 80}
%p
  = link_to 'イベントページに戻る', event_path(@event)
