= render partial: 'like_init'

.page-header
  %h1= @event.name
  %div{align: :right}
    = render partial: 'tweet_button'
    = render partial: 'like_button'
  %div{align: :right}
    -if (!current_user.nil?) && (current_user.id == @event.owner_user_id)
      = render(partial: "admin_link")

.row
  .span9
    %h2 イベント概要
    = sanitize @event.summary
    = render partial: 'detail'
    = render partial: 'sub_events'
  
    %h2 このイベントページに関連するツイート
    -# 関連ツイートJavaScript
    = render partial: 'twitter_search_widget'

  .span5
    = render partial: 'status'
    = render partial: 'join_link'

    = render partial: 'entries'
