<h2><%= link_to @user.name, user_url(@user) %> 様</h2>
<hr>
下記のイベントへの参加登録を完了しました。

<h1><%= link_to @event.name, event_url(@event) %></h1>
<table>
	<tr>
		<th>開催日時</th>
		<td><%= I18n.l @event.date, format: :long %></td>
	</tr>
	<tr>
		<th>会場</th>
		<td><%= @event.place_name %></td>
	</tr>
	<tr>
		<th>参加費用</th>
		<td>
		<% @entry.entry_fees.each do |fee| %>
			<%= fee.event_fee.name %>: 
			<%= number_to_currency(fee.event_fee.sum, unit: "円", precision: 0, format: "%n %u") %>
		<% end %>
		<br>
		<b>
		合計： <%= number_to_currency(@entry.fees_sum, unit: "円", precision: 0, format: "%n %u") %>
		</b>
		</td>
	</tr>
	<tr>
		<th>連絡先</th>
		<td><%= mail_to @event.hosting_email %></td>
	</tr>
</table>

<% if @event.qr_use %>
<h2>【当日受付用QRコード画像】</h2>
<%= image_tag attachments["#{@user.id}.gif"].url %>
<p>
	※当日はこの「QRコード」を「印刷」または「モバイル端末の画面に表示」するなどして，
	提示可能な状態で<b>忘れずに</b>お持ちください。
</p>
<% end %>
<hr>
<h3><%= link_to 'カンファイン', root_url %></h3>
<p>
システムに関してのお問い合わせは，
<%= raw "#{help_url}#contact" %>
までお願いいたします。
</p>
<p>
※イベントに関するお問い合わせは，イベント主催者にお願いいたします。
</p>
