= link_to 'カンファイン', root_path, class: 'brand'
%ul.nav
  %li
    - if current_user
      %a{href: '#', data: {'controls-modal' => 'send_qr' }}
        受付用QRコード
  %li.dropdown{data: {dropdown: :dropdown}}
    = link_to 'イベント', '#', class: 'dropdown-toggle'
    %ul.dropdown-menu
      %li= link_to '作成する', new_event_path
      %li= link_to '一覧を見る', events_path
  %li.dropdown{data: {dropdown: :dropdown}}
    = link_to 'ヘルプ', '#', class: 'dropdown-toggle'
    %ul.dropdown-menu
      %li= link_to '使い方', help_path
      %li= link_to 'カンファインについて', about_path
      %li.divider
      %li= link_to 'お問い合わせ', help_path + '#contact'
      %li= link_to '意見・バグ報告',
        'https://spreadsheets.google.com/spreadsheet/viewform?hl=ja&authkey=CLKJ6ZsF&formkey=dEVvcWF1cWJKTFpMSzZuSFVvcW9JZFE6MQ#gid=0', target: '_blank'
      
-# QRコード送信フォーム
- if current_user
  #send_qr.modal.hide.fade
    = render partial: 'users/send_qr'

%ul.nav.secondary-nav
  -if current_user
    %li= link_to twicon_tag(current_user, :mini), current_user, style: 'padding: 8px 0 0;'
    %li.dropdown{data: {dropdown: :dropdown}}
      = link_to "#{current_user.name}", '#', class: 'dropdown-toggle'
      %ul.dropdown-menu
        %li= link_to '設定', edit_user_registration_path
        %li.divider
        %li= link_to 'ログアウト', destroy_user_session_path, method: :delete
  -else
    %li= link_to 'ユーザ登録', new_user_registration_path
    %li.dropdown{data: {dropdown: :dropdown}}
      = link_to 'ログイン', new_user_session_path

